<!--<table class='table table-bordered white-bg'>
	<tr ng-repeat="field in fields"  ng-class="{'success':field.selected}" ngIf="field.display != 'hide'">
		<td class="col-lg-2" ng-click="handleRowClick(field.key)">	
			{{field.name}}
		</td>
		<td class="col-lg-2">
			<input type='number' step={{field.step}} min=0 ng-disabled="field.selected" class='form-control' ng-model='cp[field.key]'/>			
		</td>
		<td class="col-lg-2">
			{{field.primer}}
			{{cp[field.key]}}
			{{field.chaser}}
		</td>
	</tr>
</table>-->


<table class='table table-bordered white-bg'>
	<tr>
		<td>
			Investment Value
		</td>
		<td>
		<!--	{{cp.investmentValue}}-->
		<input ng-model="cp.investmentValue" type='number'>
		</td>
	</tr>
	<tr>
		<td>
			Down Payment
		</td>
		<td>
		<!--	{{cp.investmentValue}}-->
		<input ng-model="cp.downpay" type='number' ng-focus="cp.downpaySelected = true; cp.downpayPercentSelected = false">
		</td>
		<td>
		  Down Payment (%)
		</td>
		<td>
		<input  ng-model="cp.downpayPercent" type='number' ng-focus="cp.downpaySelected = false; cp.downpayPercentSelected = true">
		</td>
	</tr>
	<tr>
		<td>
			Mortgage Value
		</td>
		<td>
			<h3>{{mortgageValue | number:0}}</h3>
		</td>
		
		<td>
			<select ng-model='cp.payoff'  class='form-control'>
				<option>Pay Off Sooner</option>
				<option>Pay Full Term</option>
			</select>
		</td>
		<td>
			{{timeout}} / {{months}}
		</td>

	</tr>
	<tr>
		<td>
			Regular Payment
		</td>
		<td>
			{{payment | number:2}}
		</td>
		<td>
		<button type='button' 
		ng-click='cp.paymentMonthly = true; cp.paymentBiWeekly = false; cp.paymentWeekly = false; freq="monthly"'
		class='btn btn-default'
		ng-class="{true:'active', false:''}[cp.paymentMonthly]"
		>Monthly</button>
		</td>
		<td>
			<button 
			ng-click='cp.paymentMonthly = false; cp.paymentBiWeekly = true; cp.paymentWeekly = false; freq="bi-weekly"';
			class='btn btn-default'
			ng-class="{true:'active', false:''}[cp.paymentBiWeekly]">
				Every 2 Weeks
			</button>
		</td>
		<td>
			<button class='btn btn-default'
			class='btn btn-default' 
			ng-click='cp.paymentMonthly = false; cp.paymentBiWeekly = false; cp.paymentWeekly = true;freq="weekly"' 
			ng-class="{true:'active', false:''}[cp.paymentWeekly]">
			Weekly</button>
		</td>
		</td>
	</tr>
	<tr>
		<td>
			Interest Rate (%)
		</td>
		<td>
			<input ng-model="cp.interestRate" type='number'>
		</td>	
		<td>
			<select ng-model='cp.compound'  class='form-control'>
				<option>Annually</option>
				<option>Bi-Annually</option>
				<option>Monthly</option>
			</select>
		</td>	
	</tr>
	<tr>
		<td>
			Amortization (yrs)
		</td>
		<td>
			<input ng-model="cp.amortization" type='number'>
		</td>
	</tr>
	<tr>
		<td>
			Interest Paid
		</td>
		<td>
			{{interestPaid | number:2}}
		</td>
		<td>
			Interest : Principal
		</td>
		<td>
			{{interestRatio | number:2}}
		</td>
	</tr>
</table>

<h2>Your {{freq}} payment is {{payment | currency}}</h2>