<!--<table class='table table-bordered white-bg'>
	<tr ng-repeat="field in fields"  ng-class="{'success':field.selected}" ngIf="field.display != 'hide'">
		<td class="col-lg-2" ng-click="handleRowClick(field.key)">	
			{{field.name}}
		</td>
		<td class="col-lg-2">
			<input type='number' step={{field.step}} min=0 ng-disabled="field.selected" class='form-control' ng-model='cp[field.key]'/>			
		</td>
		<td class="col-lg-2">
			{{field.primer}}
			{{cp[field.key]}}
			{{field.chaser}}
		</td>
	</tr>
</table>-->


<table class='table table-bordered white-bg'>
	<tr>
		<td>
			Investment Value
		</td>
		<td>
		<!--	{{cp.investmentValue}}-->
		<input ng-model="cp.investmentValue" type='number'>
		</td>
	</tr>
	<tr>
		<td>
			Down Payment
		</td>
		<td>
		<!--	{{cp.investmentValue}}-->
		<input ng-model="cp.downpay" type='number'>
		</td>
		<td>
		  Down Payment (%)
		</td>
		<td>
		<input  ng-model="cp.downpayPercent" type='number'>
  	</select>

		</td>
	</tr>
	<tr>
		<td>
			Mortgage Value
		</td>
		<td>
			<h3>0</h3>
		</td>

	</tr>
	<tr>
		<td>
			Regular Payment
		</td>
		<td>
			0
		</td>
		<td>
			Recurring
		</td>
		<td>
			<select class="form-control">
		<option>Monthly</option>
  		<option>Every 2 Weeks</option>
  		<option>Every Week</option>
  	</select>
		</td>
	</tr>
	<tr>
		<td rowspan='2'>
			Interest Rate (%)
		</td>
		<td rowspan='2'>
			<input ng-model="cp.interestRate" type='number'>
		</td>
		<td colspan='2'>
			Compounded
		</td>
		
	</tr>
	<tr>
	
		<td>
		<input type='checkbox'>Monthly</input>
		</td>
		<td>
			<input type='checkbox'>Annually</input>
		</td>
	</tr>

	<tr>
		<td>
			Amortization
		</td>
		<td>
			<input ng-model="cp.amortization" type='number'>
		</td>
		<td>
			Years
		</td>
	</tr>
	<tr>
		<td>
			Interest Paid
		</td>
		<td>
			0
		</td>
		<td>
			Interest : Principal
		</td>
		<td>
			0:0
		</td>
	</tr>
</table>